@charset "utf-8";

.cred{
     color: red;
}
.cblue{
     color: blue;
}
.cyel{
     color: yellow
}

#titleImg{
     float: right;
     margin-right: 50px; 
     width: 32%;
     border-radius: 50px;
}

#title{
     text-align: center;
     font-family: Arial, sans-serif;
}

#text{
     text-align: center;
     font-size: 32px;
}

body {
     background-color: greenyellow

}

.hamburger-menu {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 40px;
     height: 40px;
     cursor: pointer;
   }

.hamburger-menu .line{
     width: 30px;
     height: 2px;
     background-color: black;
     margin-bottom: 4px;
     transition: transform 0.3s ease;
}

.hamburger-menu.active .line:nth-child(1) {
     transform: translateY(6px) rotate(45deg);
}
   
   .hamburger-menu.active .line:nth-child(2) {
     opacity: 0;
}
   
   .hamburger-menu.active .line:nth-child(3) {
     transform: translateY(-6px) rotate(-45deg);
}