@charset "utf-8";

.cred{
     color: red;
}
.cblue{
     color: blue;
}
.cyel{
     color: yellow
}

#titleImg{
     float: right;
     margin-right: 50px; 
     width: 32%;
     border-radius: 50px;
}

#title{
     text-align: center;
     font-family
}
a{
     font-size: small;
}

body {
     background-color: greenyellow

}